<!-- Start features Area -->
<section class="blog-area section-gap" id="blog">
	<div class="container text-center">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Check Out Our Features</h1>
					<p>Take a look at the some of the features below. We offer some great benefits 
					to help you make goals, track your progress, all to help you reach 
					those goals.</p>
				</div>
			</div>
		</div>					
		<div class="row d-flex justify-content-center">
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="{{ url_for('static', filename='img/goals.jpg') }}" alt="">								
				</div>
				<div class="single-blog text">
					<h4>Set Your Goals</h4>
					<p>
						Take charge and set goals for time, 
						distance, or health metrics. Push 
						yourself to be your best.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="{{ url_for('static', filename='img/calendar.jpg') }}" alt="">				
				</div>
				<div class="single-blog text">
					<h4>Track Your Progress</h4>
					<p>
						Log your stats for each workout, 
						view your history, and watch your 
						progress improve over time.
					</p>
				</div>								
			</div>
			<div class="col-lg-3 col-md-6 single-blog">
				<div class="thumb">
					<img class="img-fluid" src="{{ url_for('static', filename='img/charts.png') }}" alt="">					
				</div>
				<div class="single-blog text">
					<h4>Analyze Your Performance</h4>
					<p>
						Analyze your performance over time. 
						Compare your results to your goals 
						and improve your progress.
					</p>
				</div>								
			</div>							
		</div>
	</div>	
</section>
<!-- End features Area -->