<header id="header" id="home">
	<div class="container">
	<div class="row align-items-center justify-content-between d-flex">
		  <div id="logo">
			<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/headerLogo.png') }}" alt="" title="" /></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
			  <li class="menu-active"><a href="http://ec2-18-224-96-249.us-east-2.compute.amazonaws.com:5000/">Administrator Portal</a></li>
			</ul>
		</nav><!-- #nav-menu-container -->   		
	</div>
	</div>
  </header><!-- #header -->