<header id="header" id="home">
	<div class="container">
	<div class="row align-items-center justify-content-between d-flex">
		  <div id="logo">
			<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/headerLogo.png') }}" alt="" title="" /></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
			  <li><a href="{{ url_for('dashboard') }}">Home</a></li>
			  <li><a href="{{ url_for('activities') }}">Activities</a></li>
			  <li><a href="{{ url_for('health') }}">Health</a></li>
			  <li><a href="{{ url_for('goals') }}">Goals</a></li>
			  <li><a href="{{ url_for('user_settings') }}">User Settings</a></li>	
			  <li><a href="/logout">LOGOUT</a></li>	
			</ul>
		</nav><!-- #nav-menu-container -->   		
	</div>
	</div>
  </header><!-- #header -->