/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #fab700;
  color: #fff;
}

::selection {
  background-color: #fab700;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

.text-white {
  color: #fff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777;
}

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

.gray-bg {
  background: #f9f9ff;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #222222;
}

td, th {
  border-radius: 0px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 14px 0px 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header hr {
  border-color: rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 40px;
  }
}

@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
}

/*--------------------------------------------------------------
# Paddings / Margins
--------------------------------------------------------------*/
.pb-70 {
  padding-bottom: 70px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
.banner-area {
  background: url(../img/header-bg2.jpg) center;
  background-size: cover;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.banner-area .overlay-bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-padding {
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner-content {
  text-align: left;
}

.banner-area .btn-lg {
  font-size: 14px;
  color: #fff;
  background-color: #fab700;
  width: 150px;
}

.banner-area .header-right .btn-lg {
  margin: auto;
}

.header-right {
  /*background-color: rgba(32, 46, 69, 0.4);*/
  background-color: rgba(96, 96, 96, 0.4);
  border: 0px solid #4b5263;
  padding: 35px;
  max-width: 350px;
}

@media (max-width: 413px) {
  .header-right {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .header-right {
    margin: 15px;
  }
}

.header-right .form-control {
  font-size: 14px;
  padding: 0.575rem 0.75rem;
}

.header-right .txt-field {
  margin-bottom: 1rem;
}



/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features-area {
  background-color: #f9f9ff;
}

.section-gap {
  padding: 100px 0;
}

