<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon
		<link rel="shortcut icon" href="img/fav.png">
		-->
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Exercise Tracker</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/linearicons.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/font-awesome.min.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/bootstrap.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/magnific-popup.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/nice-select.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/animate.min.css')}}"/>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/owl.carousel.css')}}"/>
		<link rel="stylesheet" href="{{url_for('static', filename='css/mtcss/main.css')}}"/>

		
	</head>
	<body>
		
		{% block content %}
		{% endblock %}
			

		<!-- start footer Area -->		
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<p class="mt-10 mx-auto footer-text col-lg-12">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
						All rights reserved | This template is made with 
						<i class="fa fa-heart-o" aria-hidden="true"></i> by 
						<a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>											
				</div>
			</div>
		</footer>	
		<!-- End footer Area -->


		

		<script src="{{url_for('static', filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{{url_for('static',filename='js/easing.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/hoverIntent.js')}}"></script>
		<script src="{{url_for('static',filename='js/superfish.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/waypoints.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.counterup.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/parallax.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/mail-script.js')}}"></script>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>

		
	</body>
</html>