{% extends "base.html" %}

{% block content %}
	
	{% include "partials/navbar1.html" %} <!-- navbar with only 'admin' link -->

	<!-- start banner Area -->
	<section class="banner-area relative vertical-fill" id="home">
		<div class="overlay overlay-bg vertical-fill"></div>	
		<div class="container vertical-fill">
			<div class="row pt-100 pb-100 d-flex align-items-center justify-content-center vertical-fill">
				<div class="col-lg-5  col-md-6 header-right">
					<h4 class="text-white pb-30 text-center">Reset Your Password Below</h4>
					<form method="post" action="/pwreset" class="form" role="form" autocomplete="on">	
					
						{% with messages = get_flashed_messages(with_categories=True) %}
							{% if messages %}
								{% for category, message in messages %}
									<div class="alert {{ category }} text-center">
										{{ message }}
									</div>
								{% endfor %}
							{% endif %}
						{% endwith %}

						
						<div class="form-group">
							<input class="form-control txt-field" type="text" name="username" placeholder="User Name" required>
							<input class="form-control txt-field" type="email" name="email" placeholder="Email Address" required>
							<input class="form-control txt-field" type="password" name="password1" placeholder="Enter New Password" required>
							<input class="form-control txt-field" type="password" name="password2" placeholder="Confirm New Password" required>
						</div>
						
						<div class="form-group row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-default btn-lg btn-block text-center text-uppercase">
									Reset Password
								</button>
							</div>
						</div>
					</form>
				</div>											
			</div>
		</div>					
	</section>
	<!-- End banner Area -->	


{% endblock %}